<template>
    <div class="container">
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="error"
                dark
                flat
              >
                <v-toolbar-title><h3>Логин</h3></v-toolbar-title>
                
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    v-model="email"
                    outlined
                    dense
                    label="E-mail"
                    name="email"
                    prepend-inner-icon="mdi-at"
                    type="text"
                  />

                  <v-text-field
                    v-model="password"
                    outlined
                    dense
                    id="password"
                    label="Пароль"
                    name="password"
                    prepend-inner-icon="mdi-lock"
                    type="password"
                  />
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <v-btn @click="login()" color="error">Логин</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
        <v-snackbar
            color="error"
            v-model="snackbar">
            Не верная почта или пароль
        </v-snackbar>
    </div>
</template>

<style lang="scss" scoped>
  .container {
    width: 100%;
  }
  .v-card__actions {
    margin-top: -30px;
    padding-bottom: 15px!important;
  }
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Inject } from 'vue-property-decorator';
import { LoginService } from '../../service/login.service';
import {ACTION_LOGIN} from '../../store/curren.user.store';
import {TokenRepository} from '../../repository/token.repository';

@Component
export default class LoginPage extends Vue {

  public snackbar: boolean = false;

  public email: string = '';
  public password: string = '';

  @Inject() public loginService!: LoginService;

  public login(): void {
    this.loginService.login(this.email, this.password)
      .then(res => {
        TokenRepository.setToken(res.data.uuid)
        

        this.loginService.getCurrentUser()
          .then(res => {
            this.$store.dispatch(ACTION_LOGIN, res.data);

            switch(res.data.role) {

              case 'role_user':
                return this.$router.push('/orders');

              case 'role_manager':
                return this.$router.push('/users');

            }
          })



      })
      .catch(err => {
        this.snackbar = true;
      })
  }

}
</script>