<template>
    <div class="container">
        <v-row
          align="center"
          justify="center"
        >
            <v-col
            cols="12"
            sm="8"
            md="4"
            >
                <v-card class="elevation-12">
                    <v-toolbar
                        color="error"
                        dark
                        flat
                    >
                        <v-toolbar-title><h3>Регистрация</h3></v-toolbar-title>
                    
                    </v-toolbar>
                    <v-card-text>
                        <v-form>

                            <v-text-field
                                v-model="user.last_name"
                                outlined
                                dense
                                label="Фамилия"
                                prepend-inner-icon="mdi-pencil"
                                type="text"
                                :rules="[BASE_RUL.REQUIRED]"/>

                            <v-text-field
                                v-model="user.first_name"
                                outlined
                                dense
                                label="Имя"
                                prepend-inner-icon="mdi-pencil"
                                type="text"
                                :rules="[BASE_RUL.REQUIRED]"/>

                            <v-text-field
                                v-model="user.middle_name"
                                outlined
                                dense
                                label="Отчество"
                                prepend-inner-icon="mdi-pencil"
                                type="text"
                                :rules="[BASE_RUL.REQUIRED]"/>

                            <v-text-field
                                v-model="user.email"
                                outlined
                                dense
                                label="E-mail"
                                prepend-inner-icon="mdi-at"
                                type="text"
                                :rules="ARR_RUL.USER_EMAIL"
                            />

                            <v-text-field
                                v-model="user.phone"
                                outlined
                                dense
                                label="Телефон"
                                prepend-inner-icon="mdi-phone"
                                type="phone"
                                :rules="[BASE_RUL.REQUIRED]"
                            />

                            <v-text-field
                                v-model="user.password"
                                outlined
                                dense
                                id="user.password"
                                label="Пароль"
                                prepend-inner-icon="mdi-lock"
                                type="password"
                                :rules="ARR_RUL.USER_PASSWORD"
                            />

                            <v-text-field
                                v-model="confirmPassword"
                                outlined
                                dense
                                label="Повторите пароль"
                                prepend-inner-icon="mdi-lock"
                                type="password"
                                :rules="[confirmPassRule]"
                            />
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer />
                        <v-btn @click="registration()" color="error">Зарегистрироваться</v-btn>
                    </v-card-actions>
                </v-card>
          </v-col>
        </v-row>

        <v-snackbar
            color="success"
            v-model="snackbar">{{msg}}
        </v-snackbar>
    </div>
</template>

<style lang="scss" scoped>
  .container {
    width: 100%;
  }
  .v-card__actions {
    margin-top: -30px;
    padding-bottom: 15px!important;
  }
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import * as ARR_RUL from '../../rules/arrays.rule';
import * as BASE_RUL from '../../rules/base.rule';
import { RegUserModel } from '../../model/reg-user.model';
import { Inject } from 'vue-property-decorator';
import { LoginService } from '../../service/login.service';

@Component
export default class LoginPage extends Vue {

    public ARR_RUL = ARR_RUL;
    public BASE_RUL = BASE_RUL;

    @Inject() public loginService!: LoginService;

    public user: RegUserModel = new RegUserModel();

    public confirmPassword: string = '';

    public msg: string = '';

    public snackbar: boolean = false;

    public confirmPassRule(pass: string): boolean | string {
        if(pass != this.user.password)  {
            return 'Пароли не совпадают'
        }
        return true;
    }

    public registration(): void {
        this.loginService.registration(this.user)
            .then(res => {
                this.msg = 'Ok';
                this.snackbar = true;
                this.$router.push('/login');
            })
            .catch(res => {
                this.msg = 'ЧТо-то пошло не так';
                this.snackbar = true;
            })
    }

}
</script>