<template>
    <div>
        <v-card class="page-card">
            <apexchart type="line" height="350" :options="chartOptions" :series="series"></apexchart>
        </v-card>
    </div>
</template>

<style lang="scss" scoped>
  
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import VueApexCharts from 'vue-apexcharts';
import { Inject } from 'vue-property-decorator';
import { StatService } from '../../service/stat.sevice';

@Component({
    components: {
        apexchart: VueApexCharts
    }
})
export default class ManagerDashboardPage extends Vue {

    @Inject() public statService!: StatService;

    public orderCounts: number[] = [];
    public sums: number[] = [];
    public dates: string[] = [];

    public series = [];
    public chartOptions = {}

    public created(): void {
      this.statService.getStat()
        .then(res => {
          this.orderCounts = [];
          this.sums = [];
          this.dates = [];
          res.data.forEach(item => {
            this.orderCounts.push(item.counter);
            this.sums.push(item.sum);
            this.dates.push(item.date);
          });
          this.onLoadData();
        })
    }


    public onLoadData(): void {
      this.series = [{
        name: 'Сумма заказов',
        type: 'column',
        data: this.sums
      }, {
        name: 'Количество заказов',
        type: 'line',
        data: this.orderCounts
      }];


      this.chartOptions = {
        chart: {
          height: 350,
          type: 'line',
          toolbar: {
              show: false
          }
        },
        stroke: {
          width: [0, 4]
        },
        title: {
          text: 'Отчет по заказам аэроэкспресс'
        },
        dataLabels: {
          enabled: true,
          enabledOnSeries: [1]
        },
        labels: this.dates,
        xaxis: {
          type: 'datetime'
        },
        yaxis: [{
          title: {
            // text: 'Website Blog',
          },
        
        }, {
          opposite: true,
          title: {
            // text: 'Social Media'
          }
        }]
      }
    }    

}
</script>