<template>
    <div>
        <v-btn @click="toBack()" text small color="primary">
            <v-icon left>mdi-chevron-left</v-icon>
            Назад
        </v-btn>
        <h1 class="h1">Профиль юр лица</h1>

        <v-row>
            <v-col>
                <v-card class="page-card">

                    <h3 class="h3">Регистрационные данные</h3>

                    <suggestions-component
                        label="Полное имя компании"
                        v-model="editProfile.legal_entity.full_name"
                        icon="mdi-file-document-box"
                        type="PARTY"
                        fieldValue="unrestricted_value"
                        @update:fullInfo="fillAll($event)"
                        :disabled="!isEditing"
                        />

                    <v-text-field
                        label="Юридический адрес"
                        v-model="editProfile.legal_entity.legal_address"
                        prepend-inner-icon="mdi-map-marker"
                        outlined
                        :disabled="!isEditing"
                        dense></v-text-field>

                    <v-text-field
                        label="Фактический адрес"
                        v-model="editProfile.legal_entity.actual_address"
                        prepend-inner-icon="mdi-map-marker"
                        outlined
                        :disabled="!isEditing"
                        dense></v-text-field>

                    <v-text-field
                        label="ИНН"
                        v-model="editProfile.legal_entity.inn"
                        prepend-inner-icon="mdi-file-document-box"
                        outlined
                        :disabled="!isEditing"
                        dense></v-text-field>

                    <v-text-field
                        label="КПП"
                        v-model="editProfile.legal_entity.kpp"
                        prepend-inner-icon="mdi-file-document-box"
                        outlined
                        :disabled="!isEditing"
                        dense></v-text-field>

                    <v-text-field
                        label="ОГРН"
                        v-model="editProfile.legal_entity.ogrn"
                        prepend-inner-icon="mdi-file-document-box"
                        outlined
                        :disabled="!isEditing"
                        dense></v-text-field>

                </v-card>
            </v-col>
            <v-col>
                <v-card class="page-card">

                    <h3 class="h3">Данные сотрудника</h3>
                    
                    <v-text-field
                    label="Фамилия"
                    v-model="editProfile.profile.last_name"
                    prepend-inner-icon="mdi-pencil"
                    outlined
                    :disabled="!isEditing"
                    dense></v-text-field>

                <v-text-field
                    label="Имя"
                    v-model="editProfile.profile.first_name"
                    prepend-inner-icon="mdi-pencil"
                    outlined
                    :disabled="!isEditing"
                    dense></v-text-field>

                <v-text-field
                    label="Отчество"
                    v-model="editProfile.profile.middle_name"
                    prepend-inner-icon="mdi-pencil"
                    outlined
                    :disabled="!isEditing"
                    dense></v-text-field>

                <v-text-field
                    label="Телефон"
                    v-model="editProfile.profile.phone"
                    prepend-inner-icon="mdi-phone"
                    outlined
                    :disabled="!isEditing"
                    dense></v-text-field>

                <v-text-field
                    label="Email"
                    v-model="editProfile.profile.email"
                    prepend-inner-icon="mdi-at"
                    outlined
                    :disabled="!isEditing"
                    dense></v-text-field>

                <v-text-field
                    label="Password"
                    v-model="editProfile.profile.password"
                    prepend-inner-icon="mdi-lock"
                    outlined
                    :disabled="!isEditing"
                    dense></v-text-field>

                </v-card>
            </v-col>
        </v-row>

        <v-row>
            <v-col>
                <v-card class="page-card">

                    <h3 class="h3">Банковские реквизиты</h3>

                    <v-text-field
                        label="Расчетный счет (20 знаков)"
                        v-model="editProfile.account.number"
                        prepend-inner-icon="mdi-numeric"
                        outlined
                        :disabled="!isEditing"
                        dense></v-text-field>

                    <v-text-field
                        label="Корреспондентский счет"
                        v-model="editProfile.account.correspondent_account"
                        prepend-inner-icon="mdi-numeric"
                        outlined
                        :disabled="!isEditing"
                        dense></v-text-field>

                    <v-text-field
                        label="БИК"
                        v-model="editProfile.account.bik"
                        prepend-inner-icon="mdi-numeric"
                        outlined
                        :disabled="!isEditing"
                        dense></v-text-field>

                    <v-text-field
                        label="Банк"
                        v-model="editProfile.account.bank"
                        prepend-inner-icon="mdi-bank"
                        outlined
                        :disabled="!isEditing"
                        dense></v-text-field>
                   

                </v-card>
            </v-col>
            <v-col>

                <v-card class="page-card">

                    <h3 class="h3">Данные договора</h3>

                    <v-text-field
                        label="Номер договора"
                        v-model="editProfile.contract.number"
                        prepend-inner-icon="mdi-numeric"
                        outlined
                        :disabled="!isEditing"
                        dense></v-text-field>

                    <v-menu
                        v-model="start_date_menu"
                        :close-on-content-click="false"
                        max-width="290"
                        >
                        <template v-slot:activator="{ on }">
                            <v-text-field
                            :value="editProfile.contract.start_date"
                            label="Дата заключения договора"
                            outlined
                            dense
                            readonly
                            prepend-inner-icon="mdi-calendar-range"
                            v-on="on"
                            :disabled="!isEditing"
                            @click:clear="editProfile.contract.start_date = null"
                            ></v-text-field>
                        </template>
                        <v-date-picker
                            v-model="editProfile.contract.start_date"
                            @change="start_date_menu = false"
                        ></v-date-picker>
                    </v-menu>

                    <v-menu
                        v-model="end_date_menu"
                        :close-on-content-click="false"
                        max-width="290"
                        >
                        <template v-slot:activator="{ on }">
                            <v-text-field
                            :value="editProfile.contract.end_date"
                            label="Дата окончания договора"
                            outlined
                            dense
                            readonly
                            prepend-inner-icon="mdi-calendar-range"
                            v-on="on"
                            :disabled="!isEditing"
                            @click:clear="editProfile.contract.end_date = null"
                            ></v-text-field>
                        </template>
                        <v-date-picker
                            v-model="editProfile.contract.end_date"
                            @change="end_date_menu = false"
                        ></v-date-picker>
                    </v-menu>

                    <v-checkbox
                        :disabled="!isEditing"
                        v-model="editProfile.contract.is_credit_limit_enabled"
                        label="Есть кредитный лимит"
                        ></v-checkbox>

                    <v-text-field
                        v-if="editProfile.contract.is_credit_limit_enabled"
                        label="Сумма кредитного лимита"
                        v-model="editProfile.contract.credit_amount"
                        prepend-inner-icon="mdi-cash"
                        outlined
                        :disabled="!isEditing"
                        dense></v-text-field>

                </v-card>
            </v-col>
        </v-row>

        <div class="btn-wrapper">
            <v-btn class="btn-wrapper__item" v-if="!isEditing" @click="edit()" color="error">Редактировать</v-btn>
            <v-btn class="btn-wrapper__item" v-if="isEditing" @click="cancel()" outlined color="error">Отмена</v-btn>
            <v-btn class="btn-wrapper__item" v-if="isEditing" @click="save()" depressed color="error">Сохранить</v-btn>
        </div>

        <v-snackbar
            :color="color"
            v-model="snackbar">
            {{msg}}
        </v-snackbar>

    </div>
</template>

<style lang="scss" scoped>
    .btn-wrapper {
        display: flex;
        justify-content: flex-end;
        &__item {
            margin-left: 15px;
        }
    }
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import {LegalEntityModel} from '../../model/legal-entity.model';
import SuggestionsComponent from '../../components/dadata-suggestions.component.vue';
import { Inject } from 'vue-property-decorator';
import { LoginService } from '../../service/login.service';

@Component({
    components: {
        SuggestionsComponent
    }
})
export default class EditLegalEntityPage extends Vue {

    @Inject() public loginService!: LoginService;

    public msg: string = '';
    public snackbar: boolean = false;
    public color: string = '';

    public start_date_menu: boolean = false;
    public end_date_menu: boolean = false;

    public isEditing: boolean = false;
    public isNew: boolean = false;

    public profile: LegalEntityModel = new LegalEntityModel();

    public editProfile = new LegalEntityModel();

    public snackSuccess(msg: string): void {
        this.msg = msg;
        this.snackbar = true;
        this.color = 'success';
    }

    public snackError(msg: string): void {
        this.msg = msg;
        this.snackbar = true;
        this.color = 'error';
    }

    public created(): void {
        let params = this.$router.currentRoute.params;
        
        if(params.id === 'new') {
            this.isNew = true;
            this.isEditing = true;
            return
        }

        this.loginService.getLegalEntity(+params.id)
            .then(res => {
                this.profile = {...res.data};
                this.editProfile = {...res.data};
            });
    }
    
    public edit(): void {
        this.isEditing = true;
    }

    public cancel(): void {
        if(this.isNew) {
            this.$router.push('/users');
        }
        this.isEditing = false;
        this.editProfile = {...this.profile};
    }

    public save(): void {
        // this.profile = {...this.editProfile};

        if(!this.editProfile.contract.is_credit_limit_enabled) {
            this.editProfile.contract.credit_amount = 0;
        }
        
        if(this.isNew) {
            this.loginService.createLegalEntity(this.editProfile)
                .then(res => {
                    this.isNew = false;
                    this.isEditing = false;
                    this.profile = {...res.data};
                    this.editProfile = {...res.data};
                    this.$router.push('/users/' + res.data.legal_entity.id);
                    this.snackSuccess('Пользователь успешно создан');
                })
                .catch(res => {
                    this.snackError('Что-то пошло не так');
                })
        } else {
            this.loginService.updateLegalEntity(+this.$router.currentRoute.params.id, this.editProfile)
                .then(res => {
                    this.isEditing = false;
                    this.profile = {...res.data};
                    this.editProfile = {...res.data};
                    this.snackSuccess('Пользователь успешно обновлен');
                })
        }
    }

    public fillAll(e?: any) {
        this.editProfile.legal_entity.inn = e.data.inn;
        this.editProfile.legal_entity.kpp = e.data.kpp;
        this.editProfile.legal_entity.ogrn = e.data.ogrn;
        // this.editProfile.fullCompanyName = e.data.name.full_with_opf;
        this.editProfile.legal_entity.legal_address = e.data.address.value;

    }

    public toBack(): void {
        this.$router.push('/users');
    }

}
</script>