<template>
    <div>

        <div class="btn-wrapper">
            <v-btn @click="createNewUser()" depressed large color="error">Создать нового пользователя</v-btn>
        </div>

        <v-card class="grid-wrapper">
            <ag-grid-vue
                 class="ag-theme-material"
                 :gridOptions="gridOptions"
                 :rowData="filteredRowData">
            </ag-grid-vue>
        </v-card>
    </div>
</template>

<style lang="scss" scoped>
    .btn-wrapper {
        display: flex;
        justify-content: flex-end;
        margin: 0 0 25px;
    }
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { AgGridVue } from 'ag-grid-vue';
import { GridOptions, GridApi, GridReadyEvent } from 'ag-grid-community';
import { Inject } from 'vue-property-decorator';
import { LoginService } from '../../service/login.service';
import { LegalEntityModel } from '../../model/legal-entity.model';
import ViewLegalEntityRenderer from '../../components/ag-grid/view-legal-entity.ag-renderer.vue';

@Component({
    components: {
        AgGridVue
    }
})
export default class UsersPage extends Vue {

    @Inject() public loginService!: LoginService;

    public gridApi!: GridApi;

    public columnDefs = [
        {
            headerName: "Компания",
            field: "full_name",
            sortable: true
        },
        {
            headerName: "Имя",
            field: "account",
            valueGetter: (params: any) => {
                let last_name = params.data.partner_user.last_name;
                let first_name = params.data.partner_user.first_name.slice(0,1);
                let middle_name = params.data.partner_user.middle_name.slice(0,1);
                return `${last_name} .${first_name} .${middle_name}`
            },
            sortable: true
        },
        {
            headerName: "Дата закл. дог.",
            field: "account",
            valueGetter: (params: any) => {
                return params.data.contract.start_date
            },
            sortable: true
        },
        {
            headerName: "Дата окон. дог.",
            field: "account",
            valueGetter: (params: any) => {
                return params.data.contract.end_date
            },
            sortable: true
        },
        {
            headerName: "",
            field: "account",
            cellRenderer: 'view'
        },
    ];

    public rowData: any[] = [];

    public filteredRowData: any[] = [...this.rowData];

    public frameworkComponents: any = {
        'view': ViewLegalEntityRenderer
    }

    public gridOptions: GridOptions = {
        columnDefs: this.columnDefs,
        frameworkComponents: this.frameworkComponents,
        onGridReady: (params: GridReadyEvent) => this.onGridReady(params),
        onModelUpdated: (params: any) => this.onModelUpdated(params)
    }

    public created(): void {
        this.loginService.getAllLegalEntity()
            .then(res => {
                this.rowData = [...res.data.results];
                this.filteredRowData = [...res.data.results];
            })
    }

    public createNewUser(): void {
        this.$router.push('/users/new');
    }

    public onGridReady(params: GridReadyEvent): void {
        this.gridApi = params.api;
        this.gridApi.sizeColumnsToFit();
    }

    public onModelUpdated(params?: any): void {
        if(!this.gridApi) return;
        this.gridApi.sizeColumnsToFit();
    }
    
}
</script>