<template>
    <div class="cell">
        <v-btn @click="download()" outlined color="error">Скачать</v-btn>
    </div>
</template>

<style lang="scss" scoped>
    .cell {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: flex-end;
    }
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Inject } from 'vue-property-decorator';
import { OrderService } from '../../service/order.service';
import { saveAs } from 'file-saver';

@Component
export default class DownloadTickerAgRenderer extends Vue {

    @Inject() public orderService!: OrderService;

    public download(): void {
        this.orderService.downloadTicket()
            .then(res => {
                saveAs('data:application/pdf;base64,' + res.data.base64_data);
            })
    }

}
</script>