<template>
    <div class="cell">
        <v-btn class="cell__item" @click="download()" text color="teal">
            <v-icon left>mdi-download</v-icon>
            Билет
        </v-btn>
        <v-btn class="cell__item" @click="view()" text color="error">
            <v-icon left>mdi-eye</v-icon>
            Просм
        </v-btn>
        <v-btn v-if="canViewUPD()" class="cell__item" @click="downloadUPD()" text color="primary">
            <v-icon left>mdi-download</v-icon>
            УПД
        </v-btn>
    </div>
</template>

<style lang="scss" scoped>
    .cell {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: flex-end;
        &__item {
            // margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Inject } from 'vue-property-decorator';
import { OrderService } from '../../service/order.service';
import { saveAs } from 'file-saver';

@Component
export default class DownloadOrderAgRenderer extends Vue {

    @Inject() public orderService!: OrderService;

    public download(): void {
        this.orderService.downloadTicket()
            .then(res => {
                saveAs('data:application/pdf;base64,' + res.data.base64_data);
            })
    }

    public downloadUPD(): void {
        this.orderService.downloadAct()
            .then(res => {
                saveAs('data:application/pdf;base64,' + res.data.base64_data);
            })
    }

    public view(): void {
        this.$router.push('/orders/' + this.$data.params.value);
    }

    public canViewUPD(): boolean {
        if(!this.$data.params.data) return false;
        let date = (new Date()).toISOString().substring(0, 10);
        if(date < this.$data.params.data.travel_date) {
            return true;
        }
        return false;
    }

}
</script>