<template>
    <div class="cell">
        <v-btn @click="view()" outlined color="error">Просмотр</v-btn>
    </div>
</template>

<style lang="scss" scoped>
    .cell {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: flex-end;
    }
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component
export default class ViewOrderAgRenderer extends Vue {

    public view(): void {

    }

}
</script>