<template>
    <div>
        <div class="logo-block">
            <img class="logo-block__logo" src="/logo.svg">
            <span class="logo-block__title">Aeroexpress</span>
        </div>
        <v-divider />
        <v-list class="nav-menu" dense>
            <div v-for="(item, i) in getMenu()" :key="i">
                <v-list-item :to="item.path" link>
                    <v-list-item-action>
                        <v-icon v-if="item.meta.icon">{{item.meta.icon}}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>{{item.name}}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </div>
            
        </v-list>
    </div>
</template>

<style lang="scss" scoped>
    .logo-block {
        display: flex;
        align-items: center;
        padding: 8px 10px 10px;
        &__logo {
            width: 40px;
            height: 40px;
            margin-right: 5px;
        }
        &__title {
            position: relative;
            top: 1px;
            font-size: 30px;
        }
    }
    .nav-menu {
        margin-top: -10px;
    }
</style>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component';
import { NavigationModel } from '../model/navigation.model';
import {navigation} from '../router/navigation';
import { CurrentUserModel } from '../model/current-user.model';
import { GET_CURRENT_USER } from '../store/curren.user.store';

@Component
export default class NavbarComponent extends Vue {

    public get currentUser(): CurrentUserModel {
        return this.$store.getters[GET_CURRENT_USER];
    }

    public getMenu(): NavigationModel[] {
        return navigation.filter(item => {
            if(item.meta.roles.indexOf(this.currentUser.role) === -1)
                return false;
            return item.meta.showInMenu
        })
    }
    
}
</script>