<template>
    <v-expansion-panels v-model="isOpened">
        <v-expansion-panel>
            <v-btn @click="remove()" class="remove-btn" text icon color="error">
              <v-icon>mdi-close-box</v-icon>
            </v-btn>
            <v-expansion-panel-header>
                Пассажир №{{index+1}} 
                <b class="fio-header">{{getAdditionalName()}}</b>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
                
                <v-text-field
                    label="Фамилия"
                    :value="lastName"
                    @input="$emit('update:lastName', $event)"
                    prepend-inner-icon="mdi-pencil"
                    outlined
                    dense></v-text-field>

                <v-text-field
                    label="Имя"
                    :value="firstName"
                    @input="$emit('update:firstName', $event)"
                    prepend-inner-icon="mdi-pencil"
                    outlined
                    dense></v-text-field>

                <v-text-field
                    label="Отчество"
                    :value="middleName"
                    @input="$emit('update:middleName', $event)"
                    prepend-inner-icon="mdi-pencil"
                    outlined
                    dense></v-text-field>

                <v-select
                    label="Тип документа"
                    :value="docType"
                    :items="docTypes"
                    @input="$emit('update:docType', $event)"
                    prepend-inner-icon="mdi-file-document-box"
                    outlined
                    dense></v-select>

                <v-text-field
                    label="Номер и серия"
                    :value="docId"
                    @input="$emit('update:docId', $event)"
                    prepend-inner-icon="mdi-file-document-edit"
                    outlined
                    dense></v-text-field>
            
            </v-expansion-panel-content>
        </v-expansion-panel>
    </v-expansion-panels>
</template>

<style lang="scss" scoped>
    .remove-btn {
        position: absolute;
        top: 15px;
        right: 18px;
        z-index: 1;
        .v-icon {
            background: #fff;
        }
    }
    .fio-header {
        margin-left: 10px;
    }
</style>

<script lang="ts">
import Vue from 'vue';
import { Prop, Component, Emit } from 'vue-property-decorator';

@Component
export default class PassengerComponent extends Vue {
    
    @Prop() public firstName?: string;
    @Prop() public lastName?: string;
    @Prop() public middleName?: string;
    @Prop() public docType?: string;
    @Prop() public docId?: string;
    @Prop() public opened?: boolean;
    @Prop() public index?: number;

    public get isOpened(): number | undefined {
        return this.opened ? 0 : undefined
    }

    public set isOpened(index: number | undefined) {
        this.$emit('update:opened', index === 0)
    }

    public docTypes: any[] = [
        {
            text: 'Паспорт РФ',
            value: 'PASSPORT'
        },
        {
            text: 'Иной документ',
            value: 'OTHER'
        }
    ];

    public getAdditionalName(): string {
        let result: string = '';

        if(this.lastName) result += this.lastName;
        if(this.firstName) result += ' ' + this.firstName.slice(0,1) + '.';
        if(this.middleName) result += ' ' + this.middleName.slice(0,1) + '.';

        return result;
    }

    @Emit('onRemove') public remove(): void {}

}
</script>