<template>
    <div>
        <v-btn @click="toBack()" text small color="primary">
            <v-icon left>mdi-chevron-left</v-icon>
            Назад
        </v-btn>
        <h1 class="h1">Создание заказа</h1>

        <v-card class="page-card">

            <h3 v-if="credit >= 0" class="h3">Кредит: {{credit}} р</h3>
            <h3 v-if="credit < 0" class="h3 credit-error">Кредит: {{credit}} р</h3>

            <div class="blocks">
                <v-menu
                    v-model="dateMenu"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    >
                    <template v-slot:activator="{ on }">
                        <v-text-field
                            class="dateField blocks__item"
                            v-model="date"
                            outlined
                            dense
                            label="Дата отправления"
                            readonly
                            v-on="on"
                            ></v-text-field>
                    </template>
                    <v-date-picker v-model="date" no-title @input="dateMenu = false"></v-date-picker>
                </v-menu>

                <v-text-field
                    class="rateField blocks__item"
                    :value="viewRate"
                    outlined
                    dense
                    label="Тариф"
                    @click="selectRate()"
                    readonly
                    :prepend-inner-icon="rateIcon"
                    ></v-text-field>
            </div>

            <v-radio-group class="radio-group" v-model="uploadType" column>
                <v-radio label="Форма (до 10 человек)" value="FORM"></v-radio>
                <v-radio label="Загрузить excel" value="EXCEL"></v-radio>
            </v-radio-group>

            <v-divider class="divider" />

            <template v-if="uploadType === 'FORM'">
                <div class="passengers">
                    <passenger-component
                        class="passengers__item"
                        v-for="(item,i) in passengers" :key="i" 
                        :firstName.sync="item.first_name"
                        :lastName.sync="item.last_name"
                        :middleName.sync="item.middle_name"
                        :docType.sync="item.doc_type"
                        :docId.sync="item.doc_id"
                        :opened.sync="item.opened"
                        :index.sync="i"
                        @onRemove="removePassenger(i)"
                    />
                </div>

                <div class="blocks">
                    <v-btn class="blocks__item" :disabled="!rateValue || passengers.length === passangersMaxCount" outlined @click="addPassenger()" color="error">Добавить пассажира</v-btn>
                    <span class="blocks__item">Добавлено пассажиров: {{passengers.length}}</span>
                </div>
                
                <v-subheader>Чтобы загрузить более {{passangersMaxCount}} воспользуйтесь загрузкой Excel документа, предварительно скачав пример</v-subheader>
            </template>

            <template v-if="uploadType === 'EXCEL'">
                <div class="blocks">
                    <v-btn @click="downloadDefaultExcel()" class="blocks__item" outlined color="teal">
                        <v-icon left>mdi-download</v-icon>
                        Скачать Excel (пример)
                    </v-btn>
                    <v-btn @click="uploadExcel()" :disabled="!rateValue" class="blocks__item" depressed color="success">
                        <v-icon left>mdi-upload</v-icon>
                        Загрузить Excel
                    </v-btn>
                </div>

            </template>

            <v-divider class="divider" />

            <div v-if="ratePrice" class="h3 blocks blocks-right">
                <h3>Сумма: {{totalPrice}} р</h3>
            </div>

            <div class="blocks blocks-right">
                <v-checkbox class="checkbox blocks__item" v-model="checkbox" label="Подтверждаю правильность введённых данных, согласие с тарифными условиями и условиями использования сайта"></v-checkbox>
            </div>

            <div class="blocks blocks-right">
                <v-btn @click="buy()" :disabled="!checkbox || !rateValue" class="blocks__item" depressed color="error">
                    Заказать билеты
                </v-btn>
            </div>
        </v-card>

        <v-dialog width="450" class="select-rate-dialog" v-model="rateDialogIsOpened">
            <v-card>
                <v-card-title>Выбор тарифа</v-card-title>
                <v-divider></v-divider>
                <v-expansion-panels accordion>
                        <v-expansion-panel
                            v-for="(item,i) in rateDialogTypes"
                            :key="i">
                            <v-expansion-panel-header>{{item.name}}</v-expansion-panel-header>
                            <v-expansion-panel-content>
                                <v-list>
                                    <!-- <v-list-item-content :key="rateIndex" v-for="(rateItem,rateIndex) in item.items">
                                        <v-list-item-title>{{rateItem.name}}</v-list-item-title>
                                        <v-list-item-subtitle>{{rateItem.price}}</v-list-item-subtitle>
                                    </v-list-item-content> -->
                                    <v-list-item  :key="rateIndex" v-for="(rateItem,rateIndex) in item.items" @click="onSelectRate(item.name, rateItem.name, rateItem.value, rateItem.icon, rateItem.price)">
                                        <v-list-item-icon>
                                            <v-icon color="error">{{rateItem.icon}}</v-icon>
                                        </v-list-item-icon>

                                        <v-list-item-content>
                                            <v-list-item-title>{{rateItem.name}}</v-list-item-title>
                                            <v-list-item-subtitle>{{rateItem.price}} р</v-list-item-subtitle>
                                        </v-list-item-content>
                                    </v-list-item>
                                </v-list>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-expansion-panels>
            </v-card>
        </v-dialog>

        <v-dialog width="300" v-model="payDialogIsOpened">
             <v-card>
                <v-card-title>
                    <h2>Оплата</h2>
                </v-card-title>
                <v-card-text class="v-dialog-text">

                    <v-select
                        v-if="credit < totalPrice"
                        :items="payTypes"
                        label="Выберите способ оплаты"
                        dense
                        outlined
                        v-model="payType"
                        ></v-select>

                    <div class="blocks blocks-right">
                        <h5 right class="h5">Кредит: {{credit}} р</h5>
                    </div>
                    <div class="blocks blocks-right">
                        <h5 right class="h5">Количество: {{passengers.length}}</h5>
                    </div>
                    <div class="blocks blocks-right">
                        <h5 right class="h5">Стоимость: {{totalPrice}} р</h5>
                    </div>
                    <div class="blocks blocks-right">
                        <h5 right class="h5">К оплате: {{totalToPay}} р</h5>
                    </div>
                    <div class="blocks blocks-right">
                        <v-btn :disabled="!canCreateOrder()" @click="createOrder()" depressed color="error">Оплатить</v-btn>
                    </div>
                </v-card-text>
             </v-card>
        </v-dialog>

        <input style="display: none" ref="fileRef" type="file"
        @change="onChangeExcel($event)"
        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">

    </div>
</template>

<style lang="scss" scoped>
    .passengers {
        display: flex;
        flex-wrap: wrap;
        &__item {
            display: inline-block;
            width: calc(33.33% - 40px / 3);
            margin-bottom: 20px;
            margin-right: 20px;
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
    .passengers-added {
        margin-left: 15px;
    }
    .divider {
        margin: 25px 0;
    }
    .blocks {
        display: flex;
        align-items: center;
        &-right {
            justify-content: flex-end;
        }
        &__item {
            margin-right: 15px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .dateField {
        width: 160px;
        max-width: 160px;
    }
    .rateField {
        width: 160px;
        max-width: 260px;
    }
    .rate-dialog-content {
        padding-top: 24px!important;
    }
    .checkbox  {
        max-width: 404px;
    }
    .v-dialog-text {
        padding-top: 20px;
    }
    .credit-error {
        color: #ff5252;
    }
    .radio-group {
        margin-top: 0!important;
    }
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import PassengerComponent from '../../components/passenger.component.vue';
import { Inject, Ref } from 'vue-property-decorator';
import { OrderService } from '../../service/order.service';
import { saveAs } from 'file-saver';

@Component({
    components: {
        PassengerComponent
    }
})
export default class NewOrderPage extends Vue {

    @Inject() orderService!: OrderService;

    @Ref() public fileRef: any;

    public uploadType: string = 'FORM';

    public excelTotal: number = 0;

    public payType: string = 'credit';

    public payTypes: any[] = [
        {
            text: 'Получить счет',
            value: 'through_accounts'
        },
        {
            text: 'Оплата онлайн',
            value: 'online_pay'
        },
        // {
        //     text: 'Кредит',
        //     value: 'credit'
        // },
        {
            text: 'Бизнес карта',
            value: 'business_card'
        }
    ]

    public credit: number = 0;

    public payDialogIsOpened: boolean = false;

    public checkbox: boolean = false;

    public rateValue: string = '';
    public rateHeader: string = '';
    public rateName: string = '';
    public rateIcon: string = 'mdi-cursor-default-click';
    public ratePrice: number = 0;

    public rateDialogIsOpened: boolean = false;

    public rateDialogTypes: any[]= [
        {
            name: 'Туда',
            icon: 'mdi-arrow-right',
            items: [
                {
                    name: 'Стандарт',
                    value: 'standart',
                    price: '500',
                    icon: 'mdi-account'
                },
                // {
                //     name: 'Парный',
                //     value: 'pair',
                //     price: '900',
                //     icon: 'mdi-account-multiple'
                // },
                // {
                //     name: 'Группа',
                //     value: 'group',
                //     price: '1100',
                //     icon: 'mdi-account-group'
                // },
                {
                    name: 'Бизнес',
                    value: 'business',
                    price: '1500',
                    icon: 'mdi-account-tie'
                }
            ]
        },
        {
            name: 'Туда - Обратно',
            icon: 'mdi-swap-horizontal',
            items: [
                {
                    name: 'Стандарт',
                    value: 'round_trip_standart',
                    price: '900',
                    icon: 'mdi-account'
                },
                // {
                //     name: 'Парный',
                //     value: 'round_trip_pair',
                //     price: '1500',
                //     icon: 'mdi-account-multiple'
                // },
                // {
                //     name: 'Группа',
                //     value: 'round_trip_group',
                //     price: '1800',
                //     icon: 'mdi-account-group'
                // }
                {
                    name: 'Бизнес',
                    value: 'round_trip_business',
                    price: '2500',
                    icon: 'mdi-account-tie'
                }
            ]
        }
    ]

    public passangersMaxCount: number = 10;

    public passengers: any[] = [];

    public date: string = (new Date()).toISOString().slice(0,10);
    public dateMenu: boolean = false;

    public get viewRate(): string {
        if(!(this.rateHeader + this.rateName).length) return '';
        return this.rateHeader + ' - ' + this.rateName;
    }

    public get totalPrice(): number {
        if(this.uploadType === 'EXCEL') return this.excelTotal;
        return this.passengers.length * this.ratePrice;
    }

    public get totalToPay(): number {
        let total = this.totalPrice;
        
        if(this.credit && this.credit >= total) {
            total -= this.credit;
        }

        return total < 0 ? 0 : total;
    }

    public created(): void {
        this.orderService.getCreditLimit()
            .then(res => {
                this.credit = res.data.limit
            })
    }

    public addPassenger(): void {
        this.passengers.push({
            first_name: '',
            last_name: '',
            middle_name: '',
            doc_type: '',
            doc_id: '',
            opened: true
        })
    }

    public removePassenger(index: number): void {
        this.passengers.splice(index, 1);
    }

    public selectRate(): void {
        this.rateDialogIsOpened = true;
    }

    public onSelectRate(rateHeader:string, rateName: string, rateValue: string, rateIcon: string, ratePrice: number): void {
        this.rateHeader = rateHeader;
        this.rateName = rateName;
        this.rateValue = rateValue;
        this.rateIcon = rateIcon;
        this.ratePrice = ratePrice;
        this.rateDialogIsOpened = false;
    }

    public buy(): void {
        this.payDialogIsOpened = true;
    }

    public createOrder(): void {
        let payment = {
            rate: this.rateValue,
            date: this.date,
            pay_type: this.credit >= this.totalToPay ? 'credit' : this.payType,
            passengers: 'EXCEL' ? [] : this.passengers
        }
        this.orderService.createOrder(payment)
            .then(res => {
                if(this.payType === 'through_accounts') {
                    this.downloadInvoice();
                }
                this.downloadTicket();
                // this.downloadQR();
                this.$router.push('/orders')
                this.payDialogIsOpened = false;
                // this.credit = res.data.credit_lemit;
                // this.payDialogIsOpened = false;


            })
    }

    public downloadTicket(): void {
        this.orderService.downloadTicket()
            .then(res => {
                saveAs('data:application/pdf;base64,' + res.data.base64_data);
            })
    }

    public downloadQR(): void {
        this.orderService.downloadQR()
            .then(res => {
                saveAs('data:image/png;base64,' + res.data.base64_data);
            })
    }

    public downloadInvoice(): void {
        this.orderService.downloadInvoice()
            .then(res => {
                saveAs('data:application/pdf;base64,' + res.data.base64_data);
            })
    }

    public toBack(): void {
        this.$router.push('/orders');
    }
    
    public downloadDefaultExcel(): void {
        this.orderService.downloadDefaultExcel()
            .then(res => {
                saveAs('data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64,' + res.data.base64_data);
            })
    }

    public uploadExcel(): void {
        this.fileRef.click();
    }

    public onChangeExcel(event: any): void {
        this.orderService.uploadExcel(this.rateValue, event.target.files[0])
            .then(res => {
                this.excelTotal = res.data.total_amount;
            });
        
        this.fileRef.value = null;
    }

    public canCreateOrder(): boolean {
        return !(this.credit < this.totalPrice && this.payType === 'credit') && this.payType;
    }

}
</script>