<template>
    <div>
        <div class="btn-wrapper">
            <v-btn class="btn-wrapper__item" @click="newOrder()" depressed large color="error">Сделать заказ</v-btn>
            <!-- <v-btn class="btn-wrapper__item" @click="downloadDefaultExcel()" outlined large color="teal">
                <v-icon left>mdi-download</v-icon>
                Скачать Excel (пример)
            </v-btn>
            <v-btn class="btn-wrapper__item" @click="uploadExcel()" depressed large color="success">
                <v-icon left>mdi-upload</v-icon>
                Загрузить Excel
            </v-btn> -->
        </div>

        <v-card class="grid-wrapper">
            <ag-grid-vue
                 class="ag-theme-material"
                 :gridOptions="gridOptions"
                 :rowData="filteredRowData">
            </ag-grid-vue>
        </v-card>

        <input style="display: none" ref="fileRef" type="file"
        @change="onChangeExcel($event)"
        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
       
    </div>
</template>

<style lang="scss" scoped>
    .btn-wrapper {
        display: flex;
        justify-content: flex-end;
        margin: 0 0 25px;
        &__item {
            margin-right: 15px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { AgGridVue } from 'ag-grid-vue';
import { GridOptions, GridApi, GridReadyEvent } from 'ag-grid-community';
import { Inject, Ref } from 'vue-property-decorator';
import { OrderService } from '../../service/order.service';
import DownloadOrderAgRenderer from '../../components/ag-grid/download-order.ag-renderer.vue';
import ViewOrderAgRenderer from '../../components/ag-grid/view-order.ag-renderer.vue';
import { saveAs } from 'file-saver';
import {getRate, getPaymentType} from '../../functions';

@Component({
    components: {
        AgGridVue
    }
})
export default class OrdersPage extends Vue {

    @Inject() orderService!: OrderService;

    @Ref() public fileRef: any;

    public gridApi!: GridApi;

    public columnDefs = [
        {
            headerName: 'Дата покупки',
            field: 'order_date',
            valueGetter: (params: any) => {
                if(!params.data.order_date) return '';
                return params.data.order_date.slice(0,10);
            },
            sortable: true
        },
        {
            headerName: 'Дата поездки',
            field: 'travel_date',
            sortable: true
        },
        {
            headerName: 'Кол. билетов',
            field: 'ticket_count',
            sortable: true,
            width: 130,
            minWidth: 130
        },
        {
            headerName: 'Стоимость',
            field: 'total_amount',
            sortable: true,
            width: 120,
            minWidth: 120
        },
        {
            headerName: 'Тариф',
            field: 'rate',
            valueGetter: (params: any) => getRate(params.data.rate),
            sortable: true
        },
        {
            headerName: 'Тип платежа',
            field: 'payment_type',
            valueGetter: (params: any) => getPaymentType(params.data.payment_type),
            sortable: true
        },
        {
            headerName: 'Статус',
            field: 'order_status',
            valueGetter: (params: any) => this.getStatus(params.data.order_status),
            sortable: true
        },
        {
            headerName: '',
            field: 'order',
            cellRenderer: 'download',
            width: 320,
            minWidth: 320,
        },
        // {
        //     headerName: '',
        //     field: 'id',
        //     cellRenderer: 'view'
        // }

    ];

    public rowData: any[] = [];

    public filteredRowData: any[] = [...this.rowData];

    public frameworkComponents: any = {
        download: DownloadOrderAgRenderer,
        view: ViewOrderAgRenderer
    }

    public gridOptions: GridOptions = {
        columnDefs: this.columnDefs,
        frameworkComponents: this.frameworkComponents,
        onGridReady: (params: GridReadyEvent) => this.onGridReady(params),
        onModelUpdated: (params: any) => this.onModelUpdated(params)
    }

    public created(): void {
        this.orderService.getOrderList()
            .then(res => {
                this.rowData = [...res.data];
                this.filteredRowData = [...res.data];
            })
    }

    public onGridReady(params: GridReadyEvent): void {
        this.gridApi = params.api;
        this.gridApi.sizeColumnsToFit();
    }

    public onModelUpdated(params?: any): void {
        if(!this.gridApi) return;
        this.gridApi.sizeColumnsToFit();
    }
    
    public newOrder(): void {
        this.$router.push('/orders/new');
    }

    public downloadDefaultExcel(): void {
        this.orderService.downloadDefaultExcel()
            .then(res => {
                saveAs('data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64,' + res.data.base64_data);
            })
    }

    public uploadExcel(): void {
        this.fileRef.click();
    }

    public onChangeExcel(event: any): void {
        this.orderService.uploadExcel(event.target.files[0])
            .then(res => {
                console.log(res);
            });
        
        this.fileRef.value = null;
    }

    public getStatus(status: string): string {
        switch(status) {

            case 'awaiting_payment':
                return 'Ожидает оплаты';

            case 'paid':
                return 'Оплачен';

            default:
                return status;

        }
    }

}
</script>