<template>
    <div>
        <v-btn @click="toBack()" text small color="primary">
            <v-icon left>mdi-chevron-left</v-icon>
            Назад
        </v-btn>
        <h1 class="h1">
            Информация о заказе
            <v-btn @click="download()" text small color="error">
                <v-icon small left>mdi-download</v-icon>
                Выгрузить билет
            </v-btn>
        </h1>
        <v-row>
            <v-col>
                <v-card class="page-card">
                    <div class="row-info page-card__row">
                        <h6>Стоимость:</h6>
                        <span>{{orderInfo.total_amount}}</span>
                    </div>
                    <div class="row-info page-card__row">
                        <h6>Тип оплаты:</h6>
                        <span>{{getPaymentType(orderInfo.payment_type)}}</span>
                    </div>
                </v-card>
            </v-col>
            <v-col>
                <v-card class="page-card">
                    <div class="row-info page-card__row">
                        <h6>Закуплено билетов:</h6>
                        <span>{{orderInfo.ticket_count}}</span>
                    </div>
                    <div class="row-info page-card__row">
                        <h6>Тариф:</h6>
                        <span>{{getRate(orderInfo.rate)}}</span>
                    </div>
                </v-card>
            </v-col>
            <v-col>
                <v-card class="page-card">
                    <div class="row-info page-card__row">
                        <h6>Дата покупки:</h6>
                        <span>{{orderInfo.order_date.slice(0, 10)}}</span>
                    </div>
                    <div class="row-info page-card__row">
                        <h6>Дата поездки:</h6>
                        <span>{{orderInfo.travel_date}}</span>
                    </div>
                </v-card>
            </v-col>
        </v-row>

        <v-card class="grid-wrapper">
            <ag-grid-vue
                 class="ag-theme-material"
                 :gridOptions="gridOptions"
                 :rowData="rowData">
            </ag-grid-vue>
        </v-card>
    </div>
</template>

<style lang="scss" scoped>
    .page-card {
        &__row {
            margin-bottom: 24px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .row-info {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px dotted #000;
        border-radius: 0!important;
    }
    .grid-wrapper {
        margin-top: 10px;
        padding: 0 10px;
    }
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import {AgGridVue} from "ag-grid-vue";
import { GridOptions, GridApi, GridReadyEvent, ModelUpdatedEvent } from 'ag-grid-community';
import { Inject } from 'vue-property-decorator';
import { OrderService } from '../../service/order.service';
import DownloadTickerAgRenderer from '../../components/ag-grid/download-ticket.ag-renderer.vue';
import {getPaymentType, getRate} from '../../functions';
import { saveAs } from 'file-saver';

@Component({
    components: {
        AgGridVue
    }
})
export default class OrderInfoPage extends Vue {

    @Inject() public orderService!: OrderService;

    public orderInfo = {
        order: 0,
        ticket_count: 0,
        payment_type: '',
        travel_date: '',
        order_date: '',
        rate: '',
        individuals: [],
        total_amount: 0
    }

    public columnDefs: any[] = [
        // {
        //     headerName: 'Имя',
        //     field: 'order',
        //     valueGetter: (params: any) => {
        //         let last_name: string = params.data.last_name;
        //         let first_name: string = params.data.first_name.slice(0,1);
        //         let middle_name: string = params.data.middle_name.slice(0,1);
        //         return last_name + ' ' + first_name + '. ' + middle_name + '.';
        //     }
        // },
        {
            headerName: 'Фамилия',
            field: 'last_name'
        },
        {
            headerName: 'Имя',
            field: 'first_name'
        },
        {
            headerName: 'Отчество',
            field: 'middle_name'
        },
        // {
        //     headerName: 'Статус',
        //     field: 'status',
        //     sortable: true,
        //     valueGetter: (params: any) => {
        //         return this.getStatus(params.data.status);
        //     },
        //     width: 100,
        //     minWidth: 100
        // },
        {
            headerName: '',
            field: 'id',
            cellRenderer: 'download'
        }
    ];

    public rowData: any[] = []
    
    public gridApi?: GridApi;

    public frameworkComponents: any = {
        download: DownloadTickerAgRenderer
    }

    public gridOptions: GridOptions = {
        columnDefs: this.columnDefs,
        frameworkComponents: this.frameworkComponents,
        onGridReady: (params) => this.onGridReady(params),
        onModelUpdated: (params) => this.onModelUpdated(params)
    }

    public created(): void {
        let id: number = +this.$router.currentRoute.params.id;

        this.orderService.getOrderInfo(id)
            .then(res => {
                this.orderInfo = res.data;
                this.rowData = res.data.individuals;
            })
            .catch(res => {
                this.$router.push('/error/404');
            })
    }

    public getPaymentType(type: string): string {
        return getPaymentType(type);
    }

    public getRate(rate: string): string {
        return getRate(rate);
    }

    public onGridReady(params: GridReadyEvent): void {
        this.gridApi = params.api;
        this.gridApi.sizeColumnsToFit();
    }

    public onModelUpdated(params: ModelUpdatedEvent): void {
        if(!this.gridApi) return;
        this.gridApi.sizeColumnsToFit();
    }

    public getStatus(status: string): string {
        switch(status) {

            case 'ACTIVE':
                return 'Активный';

            case 'DISABLED':
                return 'Не активный';

            case 'PENDING':
                return 'Ожидает подтверждения';

            default:
                return status;

        }
    }

    public toBack(): void {
        this.$router.push('/orders');
    }

    public download(): void {
        this.orderService.downloadTicket()
            .then(res => {
                saveAs('data:application/pdf;base64,' + res.data.base64_data);
            })
    }

}
</script>