<template>
    <div class="container">
        <span class="status">{{status}}</span>
    </div>
</template>

<style lang="scss" scoped>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .status {
        font-size: 60px;
        font-weight: 700;
    }
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component
export default class ErrorPage extends Vue {

    public status!: number;

    created(): void {
        this.status = +this.$router.currentRoute.params.status;
    }

}
</script>