<template>
  <div>
    <default-layout v-if="currentUser === null" />
    <admin-panel-layout v-if="currentUser !== null" />
  </div>
</template>

<style lang="scss"src="./theming/index.scss"></style>

<script lang="ts">
import Vue from 'vue';
import DefaultLayout from './layout/default.layout.vue';
import Component from 'vue-class-component';
import {Provide} from 'vue-property-decorator';
import {LoginService} from './service/login.service';
import {CurrentUserModel} from './model/current-user.model'
import { ACTION_LOGIN, GET_CURRENT_USER } from './store/curren.user.store';
import AdminPanelLayout from './layout/admin-panel.layout.vue';
import {TokenRepository} from './repository/token.repository';
import {OrderService} from './service/order.service';
import { Route } from 'vue-router';
import {StatService} from './service/stat.sevice';

@Component({
  components: {
    DefaultLayout,
    AdminPanelLayout
  }
})
export default class App extends Vue {

  @Provide() public loginService: LoginService = new LoginService();
  @Provide() public orderService: OrderService = new OrderService();
  @Provide() public statService: StatService = new StatService();

  public token = TokenRepository.getToken();

  public get currentUser(): CurrentUserModel {
    return this.$store.getters[GET_CURRENT_USER];
  }

  public created() {
    if(this.token !== null) {
      this.loginService.getCurrentUser()
        .then(res => {

          if(!res.data) {
            TokenRepository.removeToken();
            if(this.$router.currentRoute.path === '/registration') return;
            this.$router.push('/login');
            return;
          }

          this.$store.dispatch(ACTION_LOGIN, res.data);
          this.routeFilter(this.$router.currentRoute);
          
        })

    } else {
      this.routeFilter(this.$router.currentRoute);
        // this.currentUserIsLoading = false;
    }

    this.$router.afterEach((to: Route, from: Route) => {
      this.routeFilter(to);
    })
  }
    
  public routeFilter(to: Route) {

    if(to.matched.length === 0) {
      this.$router.push('/error/404');
      return;
    }
      
    const roles: string[] = to.meta.roles;

    if(this.currentUser === null && roles.length) {
      this.$router.push('/login');
      return;
    }

    if(this.currentUser !== null && roles.length && !roles.includes(this.currentUser.role)) {
      this.$router.push('/error/403');
      return;
    } else if(this.currentUser !== null && !roles.includes(this.currentUser.role)) {
      switch(this.currentUser.role) {

        case 'role_user':
          return this.$router.push('/orders');

        case 'role_manager':
          return this.$router.push('/users');

      }
    }

  }

}
</script>
