@import "../../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../../node_modules/ag-grid-community/dist/styles/ag-theme-material.css";

h1 {
    font-size: 28px;
}

.h1 {
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
}

.h2 {
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
}

.h3 {
    margin-bottom: 18px;
}

h4 {
    font-size: 22px;
}

.h4 {
    margin-bottom: 16px;
}

h5 {
    font-size: 20px;
}

.h5 {
    margin-bottom: 14px;
}

h6 {
    font-size: 16px;
}

.h6 {
    margin-bottom: 14px;
}

.page-card {
    padding: 20px 25px;
}

.v-expansion-panel-header {
    height: 64px!important;
}

.theme--light.v-icon {
    opacity: 1!important;
}

.ag-layout-normal {
    height: auto!important;
}
.ag-center-cols-viewport,
.ag-body-viewport {
    height: auto!important;
    min-height: 42px!important;
}

.ag-overlay-no-rows-center {
    margin-top: 53px;
}

.ag-cell-label-container {
    height: 100%;
}

.grid-wrapper {
    padding: 0 20px;
}

.v-input--checkbox {
    padding-top: 0!important;
    margin-top: 0!important;
}