<template>
    <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app
    >
      <navbar-component />
    </v-navigation-drawer>

    <v-app-bar
      app
      color="error"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <!-- <v-toolbar-title>Application</v-toolbar-title> -->

      <v-spacer />

      <v-menu>
        <template v-slot:activator="{ on }">
          <v-btn text v-on="on">
            <v-icon left>mdi-account-circle</v-icon>
            {{getName()}}
          </v-btn>
        </template>
        <v-list dense nav>
          <!-- <v-subheader><h3>{{currentUser.name}}</h3></v-subheader> -->
          <!-- <v-list-item @click="() => {}">
            <v-list-item-icon>
              <v-icon>perm_identity</v-icon>
            </v-list-item-icon>
            <v-list-item-title>My profile</v-list-item-title>
          </v-list-item> -->
          <v-list-item @click="logout()">
            <v-list-item-icon>
              <v-icon>mdi-exit-to-app</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Выйти из аккаунта</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>

    <v-content>
      <v-container
        class="container"
        fluid
      >
        <router-view />
      </v-container>
    </v-content>
  </v-app>
</template>

<style lang="scss" scoped>
    .container {
        height: 100%;
        max-width: 1280px;
        margin-top: 15px;
    }
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import NavbarComponent from '../components/navbar.component.vue';
import { CurrentUserModel } from '../model/current-user.model';
import { GET_CURRENT_USER, ACTION_LOGOUT } from '../store/curren.user.store';
import { TokenRepository } from '../repository/token.repository';

@Component({
    components: {
        NavbarComponent
    }
})
export default class AdminPanelLayout extends Vue {
    public drawer = null;

    public get currentUser(): CurrentUserModel {
      return this.$store.getters[GET_CURRENT_USER];
    }

    public getName(): string {
      let name = '';
      name += this.currentUser.last_name
      name += ' ' + this.currentUser.first_name.slice(0,1) + '.';
      name += ' ' + this.currentUser.middle_name.slice(0,1) + '.';
      return name
    }

    public logout(): void {
      TokenRepository.removeToken();
      this.$store.dispatch(ACTION_LOGOUT)
        .then(res => {
          this.$router.push('/login');
        })
    }
}
</script>